.home {
  background: url('../IMAGES/DP.jpg') no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
