body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #420232;
  list-style: none;
  padding: 1em;
}
